@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: hidden; /* Hide the vertical scrollbar */
}

.contactContainer {
  flex: 1;
}
.chatContainer {
  flex: 2;
  background-image: url("./assets//images/chatBg.jpg");
  background-size: cover; /* This ensures the image covers the entire container */
  background-position: center; /* Center the image within the container */
  background-repeat: no-repeat; /* Do not repeat the image */
  height: 100vh; /* Set the height of the container (adjust as needed) */
  overflow-y: auto; /* Enable vertical scrolling if the content overflows */
  overflow-x: hidden;
}
.profileContainer {
  flex: 1;
}
.borderRight {
  border-right: 1px solid rgb(202, 200, 200);
}
.borderBottom {
  border-bottom: 1px solid rgb(202, 200, 200);
}

textarea {
  border: none !important;
  outline: none !important;
}
/* For Webkit (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(223, 220, 220);
  border-radius: 20px;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}

/* For Firefox Dark Theme */
@media (prefers-color-scheme: dark) {
  .custom-scrollbar {
    scrollbar-color: white transparent;
  }
}
